---
import Layout from "~/layouts/Layout.astro";
---

<Layout
  bodyClass="items-center"
  title="femphilic's blog"
  description="my portfolio :D"
>
  <main class="max-w-prose flex w-full flex-col gap-4 p-4">
    <header class="flex flex-col gap-4">
      <header
        class="flex items-center divide-zinc-400 divide-x *:first:pr-2 *:not-first:px-2"
      >
        <a
          class="text-sm text-zinc-400 italic transition-colors hover:text-zinc-400/90"
          href="/">&lt;&lt; home</a
        >
      </header>
      <main class="flex flex-col">
        <h1 class="text-4xl font-bold">portfolio</h1>
        <p class="text-base text-zinc-300">my portfolio :D</p>
      </main>
    </header>
    <main class="flex flex-col gap-2">under construction... ;&gt;</main>
  </main>
</Layout>
